extends layout

block content
  h2= title 

  ul.visions-list
    each vision in vision_list
      li
        a(href=vision.url) #{vision.name}
    else
      li There are no Visions.

  button 
    a(href="/vision/create") Add new Vision 
