extends layout

block content
  h2= vision.name

  if vision_characters.length

    p #[strong Delete the following characters before attempting to delete this vision.]

    h4 Characters

    dl
    each character in vision_characters
      dt
        a(href=character.url) #{character.name}
      dd 

  else
    p Do you really want to delete this vision?

    form(method='POST' action='')
      input(type='hidden',name='visionid', required='true', value=vision._id )

      button(type='submit') Delete
