@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --five-star-bg: rgb(255 177 63);
  --four-star-bg: rgb(210 143 214);
  --base: rgb(253, 240, 240);
  --fg: rgb(19, 32, 67);
  --bg: rgb(241, 180, 187);
  --links: rgb(31, 65, 114);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}

button:hover {
  scale: 1.2;
}

button:active {
  scale: 0.8;
}

a,
a:visited {
  text-decoration: none;
}

a {
  position: relative;
  transition: color 0.3s ease-in-out;
}

a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  background-color: var(--links);
}

a:not(.character, footer a):hover {
  color: var(--links);
}

a:not(.character):hover::before {
  transform: scaleX(1);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

thead {
  background-color: var(--fg);
  color: var(--bg);
}

th, td {
  padding: 1vmin;
  text-align: center;
}

caption {
  font-weight: bold;
}

html,
body {
  min-height: 100svh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--base);
}

header {
  box-shadow: 0 2px 5px 2px var(--fg);
  z-index: 2;
}

footer {
  box-shadow: 0 -2px 5px 2px var(--fg);
  z-index: 2;
}

footer a,
footer a:visited,
footer a:hover {
  color: yellow;
}

footer a::before {
  background-color: yellow;
}

header,
footer {
  text-align: center;
  background-color: var(--fg);
  color: var(--bg);
}

#content {
  display: grid;
  grid-template-columns: auto 1fr;
}

aside {
  padding: 0 1vmax;
  background-color: var(--bg);
  color: var(--fg);
  height: 100%;
  box-shadow: 2px 0 5px 2px var(--fg);
}

aside li {
  margin: 5vh 0;
}

aside a {
  font-weight: bold;
}

hr {
  background-color: var(--fg);
  height: 2px;
  border: none;
}

main {
  padding-left: 5vw;
  color: var(--fg);
}

.five-star {
  background-color: var(--five-star-bg);
}

.four-star{
  background-color: var(--four-star-bg);
}

.controls {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.index-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 1vmax;
}

.main-container>p {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.table-container {
  padding: 1vmax;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
}

.all-characters-page {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.character-list {
  overflow: auto;
}

.character-list li {
  margin: 2vh 0;
  max-width: 50%;
  padding: 1vmin;
}

.character-list a{
  display: flex;
  align-items: center;
  gap: 2vw;
}

.all-characters-page {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.all-visions-page li,
.all-weapons-page li{
  margin: 2vh 0;
}

.form-container {
  display: grid;
  justify-items: center;
}

form {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: start;
  gap: 2vh;
  padding: 3vmax;
  background-color: var(--fg);
  color: var(--base);
}

input,
textarea {
  background-color: var(--base);
}

form button {
  background-color: var(--bg);
  padding: 1vh 2vw;
  font-weight: bold;
  font-family: inherit;
  border: none;
  color: var(--fg);
}

input[type="file"] {
  background-color: var(--fg);
  color: var(--base);
}

form,
input,
textarea,
button {
  border-radius: 10px;
}

.form-btns {
  display: flex;
  gap: 3vw;
}

.add-character-page {
  overflow: auto;
}

form.add-character {
  grid-template-rows: repeat(6, auto);
}

.name-input,
.desc-input {
  display: flex;
  flex-direction: column;
}

.rarity-input,
.select-inputs {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
}

.file-upload>label {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  display: block;
}

.delete-form {
  border: none;
  margin: 0;
  padding: 1vmax;
}

div:has(img) {
  padding: 1vmin;
}