html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

main {
  flex: 1;
  display: flex;
}

.content {
  width: 100%;
}

.display-characters {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.display-characters>li {
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
  text-align: center;
}